.card {
  background: var(--color-card-bg);
  border-radius: 14px;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* so info looks næs, þótt song-title wrappi around og gerir card-ið stærra */

  gap: 0.6rem;

  .image {
    width: 100%;
    border-radius: 10px;
    display: block;
  }

  .info {
    margin: 0.5rem;
    .title {
      font-size: 0.9rem;
      font-weight: 700;
    }
    .artist {
      color: var(--color-secondary-font);
      font-size: 0.7rem;
    }
    .albumLink {
      font-size: 0.7rem;
      color: var(--color-accent-1);
    }
    .albumLink:hover {
      text-decoration: underline;
    }
  }
}

.card:hover {
  background: var(--color-card-hover-bg);
  scale: 1.02;
}

.playBtn {
  padding: 0.65rem 1rem;
  border: none;
  border-radius: 8px;
  background: var(--color-play-btn-bg);
  cursor: pointer;
}

.playBtn:hover {
  opacity: 0.9;
  scale: 1.02;
}
