@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.appLayout {
  display: grid;

  grid-template-columns: 220px 1fr;
  grid-template-rows: 1fr 80px;

  grid-template-areas:
    "sidebar main"
    "player";

  height: 100vh;
}

.mainContent {
  grid-area: main;
  overflow-y: auto;
  padding: 2rem;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
