@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--color-main-bg);
  color: var(--color-main-font);
}

main {
  /* make sure stuff sem er falið bakvið player er sjáanlegt */
  margin-bottom: 10rem;
}

.appLayout {
  display: grid;
  grid-template-columns: 160px 1fr;
  min-height: 100vh;

  /* space between objects and the border/end of the screen */
  padding: 0.7rem;

  .sidebarArea {
    display: flex;
    justify-content: center;
    background: var(--color-black);
    border-radius: 1.25rem;
  }
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
