:root {
  /* colors */
  --color-white: white;
  --color-black: black;

  /* main colors */
  --color-main-bg: var(--color-black);
  --color-secondary-bg: #121212;

  --color-main-font: white;
  --color-secondary-font: #b3b3b3;
  --color-border: #333;

  /* accent colors */
  --color-accent-1: #7dd3fc;
  --color-accent-2: #7f73e9;

  /* card colors */
  --color-card-bg: var(--color-main-bg);
  --color-card-hover-bg: var(--color-secondary-bg);

  --color-play-btn-bg: var(--color-accent-2);
}
