.sidebar {
  grid-area: sidebar;

  width: 220px;
  height: 100vh;
  background: var(--color-main-bg);
  color: var(--color-main-font);
  padding: 1rem;

  .links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
